[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
mysql-connector-python = "*"
flask-restful = "*"
flask-mail = "*"
flask-mysqldb = "*"
flask-wtf = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.11"
